{% extends 'base.html.twig' %}
{% block content %}
<body>
	<div class="container">
		<div class="messaging">
			<div class="headind_srch">
				<div class="row mt-3 mb-2">
          <div class="col ml-auto d-flex align-items-center">
            <td><button type="button" class="btn-lg btn-info"><a href="{{ path('index') }}" style="text-decoration:none; color:white;">Retour aux groupes <</a></button></td>
					</div>
					<div class="col ml-auto">
						<img src="{{ asset('img/groups/') ~ group.photo }}" id="icon" class="userImg"/>
					</div>
					<div class="col d-flex align-items-center">
						<h4>{{ group.name }}</h4>
					</div>
          <div class="col ml-auto d-flex align-items-center">
            <td><button type="button" class="btn-lg btn-info"><a href="{{ path('listOfUser', {groupId : groupId}) }}" style="text-decoration:none; color:white;">> Ajouter un user </a></button></td>
					</div>
				</div>
			</div>
      <div class="inbox_msg">
        <div class="mesgs">
          <div class="msg_history">
            {% for message in group.messages %}
            {% if message.user.username == app.user.username %}
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>{{ message.content }}</p>
                <span class="time_date"></span>
                <div class="text-right mr-2">
                  {% if message.state == 0 %}
                  <img src="{{ asset('img/status/attente.png') }}">
                  {% elseif message.state == 1 %}
                  <img src="{{ asset('img/status/ouvert.png') }}">
                  {% else %}
                  <img src="{{ asset('img/status/reçu.png') }}">
                  {% endif %}
                </div>
              </div>
            </div>
            {% else %}
          <div class="incoming_msg">
            <div class="incoming_msg_img">
              <img src="{{ asset('img/users/') ~ message.user.photo }}" alt="">
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{ message.content }}</p>
                <span class="time_date"></span>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          {{ form(CreateMessage) }}
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
